@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
    /* background-color: #00ffff33;    */
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0 0;
    padding: 0 0;
}

.container {
    display: flex;
    flex-wrap: wrap;

}

.container2 {
    margin: 20px 40px;
    padding: 20px 00px;
}

.container3 {
    height: 250px;
    width: 400px;
    margin: 20px 00px;
    background-color: #0f7aa2cc;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(86 88 88 / 26%);

}

#userName {
    height: 40px;
    width: 235px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    /* border: none; */
    border: 2px solid #b8f1fa;
    border-radius: 5px;
    margin: 20px 00px;
    outline-color: #4fb5c9;


}

.cardInput {
    height: 40px;
    width: 20px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #b8f1fa;
    border-radius: 5px;
    margin: 20px 0px;
    outline-color: #4fb5c9;
    font-size: 20px;
}

.chip {
    height: 50px;
    width: 50px;
    background-color: #e6cd1f;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 10px;
}

span {
    margin: 15px 15px;
    color: white;
    font-size: 25px;
}

#displayName {
    margin: 30px 30px;
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.details {
    position: absolute;
    top: 50px;
    left: 30px;

}

.container4 {
    /* display: none; */
    height: 250px;
    width: 400px;
    margin: 20px 00px;
    background-color: #2f0fa2cc;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(86 88 88 / 26%);
}

.circle1 {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 300px;
}

.circle2 {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 230, 0);
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 320px;
}

#delete {
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    padding: 5px 5px;

}

#delete:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px rgb(252, 174, 174);
}

#submit {
    height: 50px;
    width: 100px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    background-color: rgb(135, 83, 233);
    border: none;
}

#submit:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px rgb(215, 174, 219);
}

.headings {
    font-size: 20px;
    font-weight: 900;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    font-style: italic;
    color: gold;
    font-weight: bold;
    font-size: 20px;
    position: absolute;

}

.mastercard {

    left: 290px;
}

.visa {
    left: 330px;
}

@media only screen and (max-width:664px) {
    .container3 {
        width: 370px;
    }

    .mastercard {
        left: 260px;
    }
    span{
        font-size: 22px;
    }
    .container4 {
        width: 370px;
    }

    .visa {
        left: 300px;
    }

}

.cards {
    margin: 20px 0px;
    font-weight: 900;
}